* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

p {
  color: #707075;
}

select {
  border: none;
}

.estruturaGeral {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 4fr;
  /*grid-template-rows: 130px 400px 400px;*/
  grid-template-areas: "nav header" "nav main" "nav main";
}

.nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "logo" "feed" "navegacaoLateral" "seguindo" "pessoas";
  box-shadow: 5px 0px 15px 0px rgba(44, 44, 44, 0.15);
}

#logo {
  color: #3D469C;
  font-weight: bold;
  padding: 40px;
  font-size: 35px;
  grid-area: logo;
}

.titleFeed {
  margin-left: 40px;
  font-weight: bold;
  margin-bottom: 5%;
  grid-area: feed;
}

#navLateral {
  grid-area: navegacaoLateral;
}

#seguindo {
  margin-top: 10%;
  grid-area: seguindo;
}

.contacts {
  display: flex;
  grid-area: pessoas;
  margin-bottom: 10%;
}

.contacts img {
  border-radius: 999px;
  margin-left: 40px;
}

.itemsNav li {
  margin-left: 25px;
  width: 88%;
  list-style: none;
  display: flex;
  flex: row wrap;
  padding: 15px;
  color: #707075;
  font-weight: bold;
  border-radius: 10px;
  margin-bottom: 10px;
}
.itemsNav li:hover {
  background: #3D469C;
  color: #FFFFFF;
}

.header {
  max-height: 140px;
}

.navHeader ul {
  grid-area: header;
  display: grid;
  /*grid-template-columns: 100px 200px 300px 200px 200px;*/
  grid-template-columns: 4fr 4fr repeat(3, 1fr);
  grid-template-areas: "navegar pesquisar chat notificacao perfil";
  /*justify-content: space-evenly;*/
}

.navHeader ul li {
  margin-left: 20px;
  padding: 50px;
  list-style: none;
}

.navHeader ul li span {
  font-size: 2em;
  color: #707075;
}

.navHeader ul li a {
  text-decoration: none;
  color: #707075;
  font-weight: bold;
}

#navegar {
  grid-area: navegar;
  display: flex;
}

#pesquisar {
  grid-area: pesquisar;
  display: flex;
}

#chat {
  grid-area: chat;
  justify-self: end;
}

#notificacao {
  grid-area: notificacao;
  justify-self: end;
}

#perfil {
  grid-area: perfil;
  justify-self: end;
}

.mainContent {
  grid-area: main;
  display: grid;
  min-height: 790px;
  grid-template-areas: "imgMain imgMain imgMain imgMain" "titleAvaliacao . . filtroAvaliacao" "card card card card";
  grid-template-columns: repeat(4, 1fr);
}

#slider {
  grid-area: imgMain;
  max-width: 1500px;
  height: 410px;
  overflow: hidden;
  border: 1px solid orange;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*#slider{
    margin: 0 auto;
    width: 1500px;
    height: 410px;
    overflow: hidden;
    border:1px solid black;
}*/
#filtroAvaliacao {
  grid-area: filtroAvaliacao;
  margin-right: 20%;
  border-radius: 50px;
  background: #F6F6F6;
}

#titleAvaliacao {
  grid-area: titleAvaliacao;
  padding-left: 20%;
  color: #707075;
  font-weight: bold;
  font-size: 40px;
}

.card {
  grid-area: card;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
}

.cardGame {
  border-radius: 10%;
}

.cardGame img {
  border-radius: 10% 10% 0px 0px;
}

.cardGame p {
  text-align: center;
}

/*#slider{
    margin: 0 auto;
    width: 1500px;
    height: 410px;
    overflow: hidden;
    border:1px solid black;
}*/
.img_jogos {
  max-width: 100%;
  height: auto;
}

.cardGame {
  width: 300px;
}
.cardGame img {
  width: 100%;
}/*# sourceMappingURL=style.css.map */