$purple: #3D469C;
$blue: #5B8FB9;
$mint: #B6EADA;
$blackPadrao: #171717;
$blackDestaque: #242424;
$colorP: #707075;
$colorBackSelect: #F6F6F6;
$darkMode: #101012;


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.colorPDark{
    color: #F7F7F7 !important;
} 

.colorSpanDark{
    color: #F7F7F7;
}

.colorSvgDark{
    fill: #F7F7F7 !important;
}

.colorInputDark{
    background-color: #1F1F1F !important;
}

.colorCardDark{
    background-color: #202020 !important;
}

.colorSelectDark{
    background-color: #1F1F1F !important;
    //border: 1px solid #F5F5F5 !important;
    color: #FFFFFF !important;

    border: 3px solid !important;
    border-image: linear-gradient(to right, #B769C0, #E64A2A) !important;
    border-image-slice: 1 !important;
}

.colorOptionSelectDark{
    color: #707067;
}

p{
    color: $colorP;
}

select{
    border: none;
    appearance: none;
}

.estruturaGeral{
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 4fr;
    /*grid-template-rows: 130px 400px 400px;*/
    grid-template-areas: 
        "nav header"
        "nav main"
        "nav main"
    ;
}

.nav{
    grid-area: nav;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "logo"
    "feed"
    "navegacaoLateral"
    "."
    "."
    "."
    "."
    "."
    ;
    box-shadow: 5px 0px 15px 0px rgba(44,44,44,0.15);;
}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 376px;
    max-height: 210px;

    img{
        width: 60%;
    }
}

#textLogo{
        color: $purple;
        font-weight: bold;
        padding: 40px;
        font-size: 35px;
        grid-area: logo;
        transition: background-image 0.3s ease-in-out;
}

#logoSend:hover, 
#textLogo:hover
{
    background-image: linear-gradient(135deg, #6C74BF, #2E328A); /* Gradiente para o texto */
    background-clip: text; /* Aplica o gradiente apenas ao texto */
    -webkit-background-clip: text; /* Suporte para navegadores WebKit */
    color: transparent; 
}

.titleFeed{
    margin-left: 40px;
    font-weight: bold;
    margin-bottom: 5%;
    grid-area: feed;
    font-size: 25px;
}

#navLateral{
    grid-area: navegacaoLateral;
}

#seguindo{
    margin-top: 10%;
    grid-area: seguindo;
}

.contacts{
    display: flex;
    grid-area: pessoas;
    margin-bottom: 10%;
}

.contacts img{
    border-radius: 999px;
    margin-left: 40px;
}


.itemsNav li{
    margin-left: 25px;
    width: 88%;
    list-style: none;
    display: flex;
    //flex: row wrap;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px;
    color: $colorP;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    &:hover{
        background: $purple;
        p{
            color: #F6F6F6;
        }
        svg{
            fill: #F6F6F6;
        }
    }
    
}


.header{
    height: 140px;
}

.navHeader{
    height: 100%;
    width: 100%;
    display: flex;
}

.navHeader ul{
    grid-area: header;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 15%;
    //display: grid;
    /*grid-template-columns: 100px 200px 300px 200px 200px;*/
    // grid-template-columns: 4fr 4fr repeat(3, 1fr);
    // grid-template-areas: 
    // "navegar pesquisar chat notificacao perfil"
    // ;
    /*justify-content: space-evenly;*/
}

.navHeader ul li{
    // margin-left: 20px;
    // padding: 50px;
    list-style: none;
}

.navHeader ul li span{
    font-size: 2em;
    color: $colorP;
}


.navHeader ul li a {
    text-decoration: none;
    color: $colorP;
    font-weight: bold;
}


#navegar{
    grid-area: navegar;
    display: flex;
}


#pesquisar{
    grid-area: pesquisar;
    display: flex;
    gap: 2%;
}

#chat{
    grid-area: chat;
    justify-self: end;
}

#notificacao{
    grid-area: notificacao;
    justify-self: end;
}

#perfil{
    grid-area: perfil;
    justify-self: end;
}


.mainContent{
    grid-area: main;
    display: grid;
    min-height: 790px;
    grid-template-areas: 
    "imgMain imgMain imgMain imgMain"
    "titleAvaliacao . . filtroAvaliacao"
    "card card card card"
    ;
    grid-template-columns: repeat(4, 1fr);
}

#slider{
    grid-area: imgMain;
    max-width: 1500px;
    height: 410px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.containerSlider{
    display: flex;
    transition: trasnform 0.5s ease-in-out;
    transform: translateX(0);
}

/*#slider{
    margin: 0 auto;
    width: 1500px;
    height: 410px;
    overflow: hidden;
    border:1px solid black;
}*/

#filtroAvaliacao{
    grid-area: filtroAvaliacao;
    margin-right: 20%;
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 250px;
    height: 50px;
    //border-radius: 50px;
    //background: $colorBackSelect;
}


#filtroAvaliacaoSelect{
    background: #F5F5F5;
    border-radius: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #707075;
    font-size: 15px;
    font-weight: 400;
}

#filtroAvaliacaoSelect:focus{
    outline: none;
}


#arrow-dropdown-select{
    position: absolute;
    margin-left: 86%;
    margin-top: 4%;
}


#titleAvaliacao{
    grid-area: titleAvaliacao;
    padding-left: 20%;
    color: $colorP;
    font-weight: bold;
    font-size: 40px;
}

.card{
    grid-area: card;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    gap: 3%;
}

#cardHome{
    grid-area: card;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
}

.cardGame{
    border-radius: 10%;
}

.cardGame img{
    border-radius: 10% 10% 0px 0px;
}

.cardGame p{
    text-align: center;
}


/*#slider{
    margin: 0 auto;
    width: 1500px;
    height: 410px;
    overflow: hidden;
    border:1px solid black;
}*/

.img_jogos{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardGame{
    display: grid;
    grid-template-areas: "imgCard imgCard imgCard" 
    "plataformas . notas" 
    "nome nome nome";
    width: 300px;
    grid-template-rows: 68%;

    background-color: #F5F5F5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    img{
        width: 100%;
    }
}

.imgCard{
    grid-area: imgCard;
    max-height: 95%;
}

.plataformas{
    grid-area: plataformas;
    display: flex;
    justify-content: space-around;
}

.notasCard{
    grid-area: notas;
    border: 1px solid black;
    border-radius:5px;
    height: 40%;
    width: 30px;
    display: grid;
    justify-items: center;
    align-content: center;
}


.nameCard{
    grid-area: nome;
}

.nameGame{
    font-weight: bold;
    min-width: 150px;
}

#chageColorTheme{
    cursor: pointer;
}

#inputPesquisa{
    border: none;
    width: 500px;
    color: $colorP;
    font-size: 15px;
    font-weight: 400;
    transition: 0.6s ease;
    background-size: 0% 3px;

    background-image: linear-gradient(to right, #B769C0, #E64A2A);
    background-position: bottom;
    background-repeat: no-repeat;
}

#inputPesquisa:focus{
    outline: none;
    background-image: linear-gradient(to right, #B769C0, #E64A2A); /* Gradiente da esquerda para a direita */
    background-size: 100% 3px; /* Largura total da borda e altura da linha gradiente */
    background-position: bottom; /* Posiciona o gradiente na parte inferior do elemento */
    background-repeat: no-repeat; /* Evita que o gradiente se repita verticalmente */
}

#logoSend{
    transform: rotate(270deg);
    font-size: 35px;
}