<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="styles/icons/controle-de-video-game.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/style.css">
    <title>GameUp</title>
</head>
<body>
    <div class="estruturaGeral">
        <header class="header">
            <nav>
                <ul>
                    <li><span class="material-symbols-outlined">
                        explore
                        </span><a href="#">Navegar</a>
                        <select name="" id=""></select>
                    </li>
                    <li><span class="material-symbols-outlined">
                        search
                        </span><a href="#">Pesquisar</a>
                    </li>
                    <li>
                        <span class="material-symbols-outlined">
                            chat_bubble
                            </span>
                    </li>
                    <li>
                        <span class="material-symbols-outlined">
                            notifications
                            </span>
                    </li>
                    <li>
                        <span class="material-symbols-outlined">
                            account_circle
                            </span>
                    </li>
                </ul>
            </nav>
        </header>
        <nav class="nav">
            <div id="logo">G A M E U P</div>
            <p class="titleFeed">Feed</p>
            <nav id="navLateral">
                <ul class="itemsNav">
                    <li><span class="material-symbols-outlined">
                        newspaper
                        </span>Notícias</li>
                    <li><span class="material-symbols-outlined">
                        trending_up
                        </span>Em alta</li>
                    <li>
                        <span class="material-symbols-outlined">
                            person
                            </span>
                        Seguindo
                    </li>
                    <li>
                        <span class="material-symbols-outlined">
                            videocam
                            </span>
                        Seus vídeos
                    </li>
                    <li><span class="material-symbols-outlined">
                        playlist_play
                        </span>
                    Playlist</li>
                </ul>
            </nav>
            <hr class="linehr">
            <p class="titleFeed" id="seguindo">Seguindo</p>
            <div class="contacts">
                <img src="https://via.placeholder.com/40" alt=""><p class="titleFeed">Exemplo</p>
            </div>
            <hr class="linehr">
        </nav>
        <main class="main">
            <img src="" alt="">
            <div class="mainContent">
                <div class="titles">
                    <p>Avaliações</p>
                    <select name="" id="filtroAvaliacao"></select>
                </div>
                <div class="card">
                    <img src="" alt="" class="imgCard">
                    <p>Title</p>
    
                </div>
            </div>
        </main>
    </div>
</body>
</html>